<div class="cmp-subscribe">
<form method="get" action="/bin/subscribe1">
<div class="input group">
<label for ="first-name">First name:</label>
<input id="first-name" type="text" name="First Name"/>
</div>
<div class="input group">
<label for ="last-name">Last name:</label>
<input id="last-name" type="text" name="Last Name"/>
</div>
<div class="input group">
<label for ="email-id">Email id:</label>
<input id="email-id" type="email" name="Email Id"/>
</div>

<button type="submit">Submit</button>
</form>
<div>

